
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb; 
  --color-primary-700: #1d4ed8;
  
  --color-slate-850: #1e293b;
}

/* Base Styles */
body {
  background-color: #f8fafc; 
  color: #1e293b;            
  font-family: var(--font-sans);
}

@layer base {
  
  *::-webkit-scrollbar {
    width: 8px;               
    height: 8px;              
  }

  *::-webkit-scrollbar-track {
    background: transparent; 
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4086db; 
    border-radius: 20px;       
    border: 3px solid transparent;
    background-clip: content-box;
  }

  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #0c67e6; 
  }

  * {
    scrollbar-width: thin;         
    scrollbar-color: #cbd5e1 transparent; 
  }
}